/* background color set to persian green */
body{
    background-color:rgb(42, 157, 143);
}

#logonav{
    font-style: italic;
    background-color: rgb(231, 111, 81);
    float: right;
}

#searchnav{
    background-color:  rgb(233, 196, 106)
}

#join{
    color: rgb(101, 181, 228);
    text-shadow: 2px;
}

.card{
    border-radius: 15px;
    background-color: bisque;
}

.photo{
    position: relative;
}

.logo{
    float: left;
}

/* wanted the menu on the right side */
.menu{
    float: right;
    
}

.collapsible-header{
    background-color: rgb(244, 162, 97);
}

