body{
    background-color: grey;
}

#logonav{
    font-style: italic;
    background-color: brown;
    float: right;
}

#searchnav{
    background-color: rgb(141, 134, 29);
}

#join{
    color: rgb(101, 181, 228);
    text-shadow: 2px;
}

.card{
    border-radius: 15px;
    background-color: bisque;
}

.photo{
    position: relative;
}

.intro{
    background-color: bisque;
    
}

.logo{
    float: left;
}

.menu{
    float: right;
    
}

