{% extends "base.html" %}
{% block content %}

    <h3 class="center-align">Login</h3>

    <div class="row">
        <form class="col s12 m8 offset-m2" method="POST" action="{{ url_for('login') }}">
            <div class="card-panel">
                
                <div class="row">
					<div class="input-field col s12">
						<input id="username" name="username" type="text" class="validate">
						<label for="username">Username</label>
					</div>
                </div>
                
                <div class="row">
                    <div class="input-field col s12">
                        <input id="password" name="password" type="password" class="validate">
                        <label for="password">Password</label>
                    </div>
                </div>
                
                <div class="row">
                    <button type="submit">
                        Log in
                    </button>
                    <a href="{{ url_for('create') }}">
                        Create a New Account instead
                    </a>
                </div>
            </div>
        </form>
    </div>

{% endblock %}