{% extends "base.html" %}
{% block content %}


<div class="intro">
    <h5>* Below are all 50 US Sates,<br>* their capitals, <br>* the year they became full-fledged States,<br>* and an interesting fact, In that order<br>* Log in/Sign up and add or replace an interesting fact(one per state)</h5>
</div>
        <ul class="collapsible"><!-- allows for mongodb to release its information to be displayed -->
            {% for name in names %}
            <li>
                <div class="collapsible-header white-text text-shadow">
                    <strong>{{ name.state_name }}</strong>
                </div>
                <div class="collapsible-body">
                    <span>
                        {{ name.capital }}
                    </span><br>
                    <span>
                        {{ name.founded }}
                    </span><br>
                    <span>
                        {{ name.fun_fact }}
                    </span><br>
                </div>
            </li>
        
            {% endfor %}
        </ul>


{%endblock%}